# Ignore Visual Studio build directories
/out/build/
/out/build/*-debug/
/out/build/x64-debug/
CMakePresets.json

# Ignore Ninja build logs
*.ninja_log


# Existing entries
.DS_Store
.vscode/
__pycache__/
.pytest_cache/
.class
.gitignore.save

cmake-build-debug/
.idea/

# Additions for Visual Studio
*.suo
*.user
*.userosscache
*.sln
*.vcxproj
*.vcxproj.filters
*.ipch/
*.ncb
*.obj
*.log
*.tlog
*.pch
*.idb
*.pdb
*.exe
*.ilk
*.lib
*.dll
*.o
*.iobj
*.ipdb
*.iobj
*.o.*
*_i.c
*.browse.VC.db
*.VC.db
.vs/
